@font-face {
    font-family: SlimJoe;
    src: url(SlimJoe.otf);
}

@font-face {
    font-family: BigJohn;
    src: url(BigJohn.otf);
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}

table {
    border: outset #f4f4f2;
}

a {
    color: #2b2bf6;
}

p {
    font-family : "BigJohn";
    color: #020C24;
}

h1 {
    font-family: "BigJohn";
    color: #f4f4f2;
}

h3 {
    font-family: "BigJohn";
    color: #020C24;
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #1253A4;
}

.header {
    width: 100%;
    height: 13%;
    margin: 0;
    padding: 0;
    border: 0;
    background: #020C24;
    /*background: #1254A4;*/
    text-align: center;
}

.sidebar {
    width: 15%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
    background: black;
    clear:both;
    opacity: 1;
    z-index: -1;
    /*background-image: url("sn.jpg");*/
    background-repeat: repeat-y;
}

th {
    border: outset #f4f4f2;
    background: #020C24;
    color: #f4f4f2;
    font-family : "Verdana";
    font-weight: bold;
}

td {
    border: outset #f4f4f2;
    background: #020C24;
    color: #f4f4f2;
    font-family : "Verdana";
    transition: 0.45s;
}

.sidebar td {
    background: #020C24;
    color: #f4f4f2;
    font-family : "SlimJoe";
    transition: 0.45s;
    /*background-image: url('blueBackground.jpg');*/
}

.sidebar td:hover {
    background: #1253A4;
    font-family : "SlimJoe";
    color: #FF7672;
}

.content {
    width: 85%;
    height: auto;
    margin-left: 0%;
    padding: 0;
    border: 0;
    float: left;
    color: #14211F;
    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}

.imagine {
    background-color: grey;
}

.title {
    color: #f4f4f2;
    padding: 20;
    font-size: 36;
    font-family : "BigJohn";

}

.footer {
    width: 100%;
    height: auto 30px;
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
    background: linear-gradient(to top, black , #1253A4);
}

.ftext  {
    color: #f4f4f2;
}

table.sidetable td {
    text-align: center;
    border: solid;
}

.content p {
    font-family: "SlimJoe";
    font-size: 12;
}

.frame {
    float: left;
}

tr:hover td {
    background: #1253A4;/*albastru*/
    font-family : "Verdana";
    border: outset #FF7672;
    border-collapse: collapse;
    color: #FF7672;/*roz*/
}
